body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}


/*global*/

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    background-color: #e8491d;
    height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    color:white;

}

.dark{
    background-color: #35424a;
    padding: 15px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*header*/
header{
    background: #35424a;
    color: white;
    padding-top: 20px;
    min-height: 60px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: white;
    text-decoration:none;
    font-size: 16px;
}


header li{
    float: left;
    display:inline;
    padding: 0 20px 0 20px;
    
}

header #branding{
    float: left;
}
header #branding{
    margin-bottom: 20px;
    
}

header nav{
    float:right;
    margin-top: 20px;
        
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: grey;
    font-weight: bold;
}
/*showcase*/
#showcase{
    min-height: 400px;
    background-image:url(../images/showcase.jpg);
    background-position: center;
}
#showcase h1{
    font-size:55px;
    text-align:center;
    margin-bottom: 10px;
    margin-top:100px;
    font-weight: bold;

}
#showcase p{
    margin-top:10px;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top:80px;
    text-align: center;
    font-style: italic;
}

/*newsletter*/

#newsletter{
    padding: 10px;
    background-color: #35425a;
    color: white;
}
#newsletter h1{
    fone-size:25px;
    float: left;
}
#newsletter form{
    float:right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding:4px;
    height:20px;
    width: 250px;
}

/*boxes*/

#boxes{
    margin-top: 20px; 

}
#boxes .box{
    float: left;
    width: 30%;
    padding:10px;
    text-align: center;
}
#boxes .box img{
    width: 90px;
    padding: 5px;
}


aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding:10px;
    
}

/*sidebar*/

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}


/*main*/

article#main-colm{
    float: left;
    width: 65%;

}

/*services*/

ul#services li{
    list-style: none;
    padding: 20px;
    border: 1px grey solid;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    border-radius: 1.5em;
}
/*footer*/

footer{
    text-align: center;
    background-color: #e8491d;
    color: white;
    padding:10px
}

/*media-query*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form{
        float:none;
        text-align: center;
        width: 100%;

    }

    header{
        padding-bottom: 20px;
    }

    #showcase{
        margin-top: 40px;

    }
}